body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container{
    text-align: center;
    
}

#div{
    display: flex;
    border: 3px solid black;
    background-color: antiquewhite;
    margin: 15px;
}

#dialog::backdrop{
    background: none;
}

#form{
    display: flex;
    flex-direction: column;
}

.inp{
    display: inline-block;
    margin: 3px;
    
}

 


.card{
    padding: 8px;
    border-radius: 20px;
    margin: 10px;
    border: 5px solid white;
    margin: 5px;
    width: auto;
}

#btn{
    background-color: aqua;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}