body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container{
    text-align: center;
    
}

#div{
    display: flex;
    border: 3px solid black;
    background-color: antiquewhite;
}

#dialog::backdrop{
    background: none;
}

#form{
    display: flex;
    flex-direction: column;

}

.inp{
    display: inline-block;
    margin: 3px;
}

.read{
    color: wheat;
    background-color: red;
}